@{
    Layout = null;
}
@using Viss.Client.Manager.Html
@using Viss.Client.Manager.Html.XButton
@using Viss.Service.Contract.Entrust.Aritificial
@model Viss.Client.Manager.Areas.Entrust.Models.EntrustModel
    
@{
    var disabled = Model.IsSuspend?"disabled":"";
}

<fieldset @disabled>
    <legend>执行操作</legend>
    <div class="row">
        <div class="radio col-sm-12">
            <div class="col-sm-4">
                <input type="radio" id="IsCheckPass" checked="checked"/><label for="IsCheckPass" style="padding-left: 0px">审核通过</label>
            </div>
        </div>
    </div>
    
    @if (Model.EntrustType == EntrustType.Advisor)
    {
        <div class="row">
            @Html.CheckBoxFor(c => c.IsSeal)<label for="IsSeal">需盖章</label><span style="color: #999999">（勾选后自动创建盖章业务）</span>
        </div>
    }

    <div class="form-group col-sm-8">
        <label class="control-label">提交意见</label>
        @Html.EditorFor(c => c.SignDto.Opinion)
    </div>
</fieldset>
<div style="position: fixed; bottom: 0px; width: 100%; text-align: center; background: white; border-top: 1px solid #e5e5e5; padding-top: 8px;z-index:1000">

    @Html.Coral().XButton(new XButtonSettings()
    {
        Id = "btnStore",
        CssClass = "btn btn-primary",
        Value = "提交审核",
        DataClick = "checkSumbit()"
    })
</div>
<script type="text/javascript">
    $(function() {
        coral.controls.operation.load();
    });

    function checkSumbit() {
        coral.post("/entrust/Quick/CheckToComplete",
            $("#appraisalform").serialize(),
            function() {
                coral.global.iframeBody.formSubmit();
                coral.closeModal();
            });
    }
</script>
