@* 操作记录 *@
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">操作记录</div>
    <div class="panel-body">
        <table id="operationRecordTableGridSeal" class="table table-striped jambo_table bulk_action table-hover"></table>
    </div>
</div>

<script>

    $(function() {
        var columns = [
            { field: 'OperatorRole', title: '提交岗位' },
            { field: 'OperatorName', title: '提交人' },
            { field: 'OperatorTime', title: '提交时间' },
            { field: 'Statement', title: '操作说明' },
            { field: 'Opinion', title: '提交意见' }
        ];
        var operationRecordTableGrid = new TableInit('operationRecordTableGridSeal',
            '',
            "@Url.Action("GetEntrustLog", "Entrust")?id=" + $("#Id").val(),
            columns);
        operationRecordTableGrid.Init();
    });

</script>

