@{
    Layout = null;
}

<div class="form-group col-sm-3">
    <label class="control-label">提交意见</label>
    <textarea class="form-control" rows="3" name="opinion"></textarea>
</div>
<div class="form-group col-sm-3">
    <label class="control-label">意见模板</label>
    <textarea class="form-control" rows="3" readonly></textarea>
</div>

<script>
    /**
     * 1. 获取意见模板
     * 2. 双击事件
     * 3. 
     */
</script>